.windowContainer {
    font-family: "Lato", sans-serif;
    margin-left: 60px;
}

.windowContainer h1 {
    margin-bottom: 20px;

    font-weight: 400;
    font-size: 1.4rem;
    color: var(--terciary-color);
}

.digitContainer {
    width: 400px;


    margin-right: auto;
    display:grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 60px);

    border-radius: 5px;
    overflow: hidden;
}

.digitContainer button {
    color: var(--text-color);

    cursor: pointer;
    font-size: 3rem;
    font-weight: 400;

    background-color: white;
    border: none;
    width: 100%;
    height: 100%;

    border-radius: 0px;
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.digitContainer button:hover {
    background: var(--hover-terciary-color);
}

.digitContainer button:focus {
    outline: none;
}